[submodule "third_party/capstone"]
	path = third_party/capstone
	url = https://github.com/aquynh/capstone.git
[submodule "third_party/keystone"]
	path = third_party/keystone
	url = https://github.com/keystone-engine/keystone.git
