---
BasedOnStyle: Google
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
IndentWidth: '2'
NamespaceIndentation: None
SpaceAfterCStyleCast: false
TabWidth: '2'
UseTab: Never
ConstructorInitializerIndentWidth: 0

...
